* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoue", sans-serif;
  line-height: 1.6em;
  color: #666;
  background: #e1e1e1;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #000000;
}

.container {
  max-width: 740px;
  background: #fff;
  margin: auto;
}

.clearfix {
  clear: both;
}

header {
  padding: 30px 20px;
  background: #f4f4f4;
}

header h1 {
  color: #dd2B26;
  margin-bottom: 5px;
}

header span {
  color: #000;
}

section {
  padding: 30px 20px 20px 20px;
}

footer {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}

form {
  display: block;
  margin-bottom: 20px;
}

.fields {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

input[type="submit"], input[type="button"] {
  position: absolute;
  cursor: pointer;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

input[type="submit"] {
  right: 260px;
  top: 9px;
  width: 50px;
  height: 32px;
}

input[type="button"], input[type="search"] {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
  border-radius: 1px;
}

input[type="button"] {
  font-size: 1.6em;
  right: 0;
  width: 200px;
  height: 100%;
  top: 0;
  background: #fff;
  border: 1px solid #c8c8c8;
}

input[type="submit"]:hover, input[type="button"]:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

input[type="button"]:hover {
  background: #EAEBEA;
}

input[type="search"] {
  box-sizing: border-box;
  display: block;
  width: 60%;
  padding: 11px 7px;
  padding-right: 60px;
  background: #fff;
  color: #5E6156;
  border: 1px solid #c8c8c8;
  font-size: 1.6em;
}

.results li {
  padding: 10px 0;
  border-bottom: 1px #ccc dotted;
  list-style: none;
  overflow: auto;
}

.list-left {
  float: left;
  width: 20%;
}

.list-left img {
  width: 100%;
  padding: 3px;
  border: solid #ccc 1px;
}

.list-right {
  float: right;
  width: 78%;
}

.channelTitle {
  color: #dd2826;
}

ul.list {
  margin-top: 10px;
  background: #DBF0DE;
  overflow: hidden;
  max-width: 100%;
}

ul.list li {
  color: #262B27;
  display: inline;
  border-bottom: none;
  overflow: hidden;
  float: left;
  width: 25%;
  text-align: center;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}
